@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.navbar {
  height: 80px;
}
.navbar .container-fluid a {
  color: #fff;
}
.navbar .container-fluid .navbar-collapse {
  left: 25%;
}
.navbar .container-fluid .icons {
  right: 3%;
}
.navbar .container-fluid .icons a {
  font-size: 20px;
  border-right: 1px solid #fff;
  margin: 0 10px;
}

.main-section {
  position: relative;
  width: 100%;
  height: 70vh;
  background-image: url(./Images/pexels-yury-kim-585419.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main-section .cover {
  position: absolute;
  width: 100%;
  height: 100%;
}
.main-section .cover span {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(18, 18, 245);
  opacity: 0.5;
}
.main-section .text {
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.main-section .text h2 {
  font-size: 50px;
  color: #fff;
}
.main-section .text h2::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 3px;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.main-section .text-info {
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}
.main-section .text-info p {
  text-align: center;
  color: #fff;
}

.our {
  width: 100%;
  height: 100vh;
}
.our .our-info {
  width: 60%;
  height: 100%;
}
.our .our-info h2 {
  position: absolute;
  color: rgb(0, 68, 255);
  padding: 5px;
}
.our .our-info h2::before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -20px;
  width: 90px;
  height: 3px;
  background-color: rgb(0, 68, 255);
}
.our .our-info .pargraphs {
  top: 25%;
}
.our .form {
  right: 2%;
  width: 30%;
  height: 100%;
  background-color: rgb(228, 236, 236);
  overflow: hidden;
}
.our .form h2 {
  color: rgb(0, 68, 255);
}
.our .form h2 a {
  text-decoration: none;
  color: rgb(0, 68, 255);
}
.our .form form {
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 60%;
}
.our .form form input {
  font-size: 12px;
  width: 280px;
  height: 40px;
  border-radius: 20px;
}
.our .form form .suggestions a {
  font-size: 0.8rem;
  color: rgb(0, 68, 255);
}
.our .form form .sumbit-btn {
  color: #fff;
  border-radius: 20px;
  background-color: rgb(0, 68, 255);
  cursor: pointer;
}
.our .form .dini {
  left: 50%;
  transform: translate(-50%);
  bottom: 30%;
  font-size: 1.2rem;
  color: #000;
}
.our .form .dini::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 135px;
  height: 2px;
  background-color: #ddd;
  left: -135px;
}
.our .form .dini::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 135px;
  height: 2px;
  background-color: #ddd;
  right: -135px;
}
.our .form .reg-btn {
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(145, 145, 7);
  border-radius: 20px;
  color: #000;
  transition: 0.7s ease;
}
.our .form .reg-btn:hover {
  color: #fff;
  background-color: rgb(0, 68, 255);
}

.products {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.products .products-title {
  color: rgb(0, 68, 255);
}
.products .carts-container .cart {
  border-radius: 20px;
  width: 300px;
  height: 350px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  margin: 15px 15px;
}
.products .carts-container .cart .cart-image {
  width: 100%;
  height: 60%;
  border-radius: 20px;
}
.products .carts-container .cart .cart-image img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}
.products .carts-container .cart .cart-info button {
  position: absolute;
  left: 18%;
  top: 98%;
  transform: translateX(-50%, -50%);
  width: 200px;
  border: none;
  background-color: rgb(0, 68, 255);
  border-radius: 20px;
  font-weight: 800;
  transition: 0.7s ease-in-out;
}
.products .carts-container .cart .cart-info button:hover {
  background-color: green;
}
.products .carts-container .cart .price {
  color: #fff;
  top: 0;
  background-color: rgb(0, 68, 255);
  border-radius: 20px 0 0 0;
}

.services {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.services .services-title {
  left: 50%;
  transform: translateX(-50%);
  color: rgb(0, 68, 255);
  margin-bottom: 40px;
}
.services .contact-title::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 70px;
  height: 2px;
  background: rgb(0, 68, 255);
}
.services .our-services-cards {
  padding: 100px 0;
}
.services .our-services-cards .ser-cart {
  width: 300px;
  height: 300px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 20px;
  margin: 10px 30px;
}
.services .our-services-cards .ser-cart .ser-cart-icon {
  width: 100%;
  height: 60%;
  font-size: 140px;
  border-radius: 20px;
  text-align: center;
  color: rgb(0, 68, 255);
}
.services .our-services-cards .ser-cart .ser-cart-info {
  text-align: center;
  padding: 10px 5;
}
.services .our-services-cards .ser-cart .ser-cart-info h3 {
  font-size: 30px;
}

.SignUp {
  width: 100%;
  height: 20vh;
  background-color: #222;
}
.SignUp .SignUp-info {
  margin: 10px 30px;
}
.SignUp .SignUp-info h2 {
  color: #fff;
}
.SignUp .SignUp-info p {
  color: #fff;
}
.SignUp .SignUp-input {
  margin: 10px 30px;
}
.SignUp .SignUp-input input {
  border-radius: 20px;
  padding: 5px;
  width: 350px;
  height: 70px;
}
.SignUp .sumbit-button button {
  width: 100px;
  height: 50px;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: rgb(0, 68, 255);
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.SignUp .sumbit-button button:hover {
  background-color: yellowgreen;
  color: #000;
  transform: scale(1.1);
}

footer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #111;
}
footer .about {
  width: 60%;
  height: 100%;
}
footer .about .abour-cart {
  padding: 20px 10px;
  width: 250px;
  height: 300px;
}
footer .about .abour-cart .name {
  color: #fff;
}
footer .about .abour-cart .name:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 2px;
  background-color: rgb(0, 68, 255);
}
footer .about .abour-cart .category {
  bottom: 0;
}
footer .about .abour-cart .category p {
  color: #999;
}
footer .about::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 300px;
  background-color: #444;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
footer .contact {
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  padding: 30px;
}
footer .contact .contact-cart {
  top: 25%;
}
footer .contact .contact-cart .name {
  color: #777;
}
footer .contact .contact-cart .social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin: 0 5px;
  color: #777;
  transition: 0.1s ease-in-out;
}
footer .contact .contact-cart .social-icons a:hover {
  color: rgb(0, 68, 255);
}
footer .contact .contact-cart-2 {
  bottom: 20%;
}
footer .contact .contact-cart-2 h2 {
  font-size: 20px;
  color: #777;
}/*# sourceMappingURL=style.css.map */